// <==== FOR TABLET AND MOBILE ===>
@media (max-width: 1024px) {
  .hide-all{
    display: none;
  }
  .menu-wrapper {
    top: 10px;
    right: 10px;
    height: auto;
    .inner-menu {
      align-items: flex-start;
      width: 100%;
      .language-wrapper {
        top: 30px;
      }
      .main-links {
        padding-top: 60px;
        .main-link {
          a {
            font-family: Saol;
            font-weight: 400;
            font-size: calc(20.2px + 2.22353vw);
            font-weight: 500;
            line-height: 1.6em;
            letter-spacing: -0.01em;
          }
        }
      }
      .menu-btn {
        margin: 0;
        width: 51px;
        height: 51px;
        border-radius: 100%;
        right: 10px;
        top: 10px;
        .label {
          display: none;
        }
        .burguer {
          display: flex;
        }
      }
      .menu-btn-hitzone {
        top: 5px;
        right: 5px;
        width: 61px;
        height: 61px;
      }
    }
  }
  .home-header-wrapper {
    padding-top: 150px;
    .text-wrapper {
      .continue-btn {
        display: none;
      }
    }
    .image-wrapper {
      .header-video-container {
        padding-left: calc(16.4px + 0.21176vw);
        padding-right: calc(16.4px + 0.21176vw);
        video {
          transform: scale(1);
        }
      }
    }
  }
  .gross-asset-value-wrapper {
    .value {
      font-size: 14vw;
    } 
  }
  .the-history-wrapper {
    .main-title-wrapper{
      flex-direction: column-reverse;
    }
  }
  .contacts-gallery-wrapper{
    .slider-container {
      margin-top: 40px;
      .selector-container {
        position: absolute;
        top: -2%;
        margin-left: 6.25%;
        width: 93.75%;
        padding-left: calc(16.4px + .21176vw);
        padding-right: calc(16.4px + .21176vw);
        margin-bottom: 0;
        ul {
          justify-content: flex-start;
        }
      }
      .slider-inner {
        .slide {
          width: 70%;
        }
      }
    }
  }

  /*PROJECT PAGE*/ 
}

// <==== FOR TABLET ======>
@media (min-width: 740px) and (max-width: 1023px) {
    // Menu-wrapper
  .menu-wrapper {
    min-width: 300px;
  }

  // Sustainability block
  .sustainability-block-wrapper {
    .image-container {
      max-height: 800px;
      .floating-img {
        width: 37vw;
        right: -5%;
      }
      .title-container {
        .upper-title {
          position: absolute;
          top: 10%;
          left: 0;
          width: 100%;
          text-align: center;
        }
      }
    }
    .text-container {
      margin-bottom: 40px;
    }
    .more-insights {
      .insights-list {
        grid-column-gap: 30px;
        li {
          .info-container {
            flex-direction: column;
            .left-col {
              order: 2;
              flex: 0 0 100%;
              width: 100%;
            }
            .right-col {
              order: 1;
              text-align: left;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

  // Project block
  .projects-block-wrapper {
    .images-wrapper {
      figure.kiraly-1-image {
        width: 30vw;
      }
      figure.kiraly-2-image {
        display: none;
      }
      figure.nivaria-2-image {
        width: 40vw;
      }
    }
  }

  .home-header-wrapper {
    .image-wrapper {
      .play-video {
        bottom: -130%;
      }
    }
  }

  .cta-btn-wrapper {
    width: 130px;
    height: 130px;
  }
  // About block
  .about-block-wrapper {
    padding-bottom: 80px;
    .image-container {
      max-height: 800px;
      min-height: 600px;
      height: 70vh;
      .floating-img {
        width: 37vw;
        right: -5%;
      }
      .title-container {
        .upper-title {
          position: absolute;
          top: 15%;
          left: 0;
          width: 100%;
          text-align: center;
          letter-spacing: 1.3em;
        }
      }
    }
    .big-number-container {
      margin-top: 100px;
    }
  }
    // Footer   
  .featured-work-footer-wrapper {
    .work-list-wrapper {
      flex-direction: column;
      justify-content: flex-start;
      .title {
        position: relative;
        top: auto;
        margin-bottom: calc(17.4px + 0.74118vw);
      }
    }
    .lower-footer {
      flex-direction: column;
      margin-top: 0;
    }
    .legal-list {
      margin-bottom: 30px;
    }
  }
  /*<===== ABOUT PAGE ======>*/
  .introduction-block-wrapper {
    .image-with-caption-wrapper.bottom-right {
      top: auto;
      margin-bottom: 35px;
      figcaption {
        position: relative;
        top: auto;
        margin-top: 20px;
      }
    }
  }

  .the-history-wrapper {
    .bg {
      padding-bottom: 220px;
    }
    .main-title-col {
      .main-title {
        margin-top: 80px;
        margin-bottom: 80px;
      }
    }
  }
  .image-with-caption-wrapper.left-bottom {
    figcaption {
      position: relative;
      top: auto;
      right: auto;
      margin-top: 15px;
    }
  }
  .investors-block-wrapper {
    .image-block{
      .image-container{
        .video-container {
          width: 29vw;
          top: 60%;
        }
      }
    } 
  }
  .team-gallery-wrapper {
    .photos-wrapper {
      .container {
        flex: 0 0 40vw;
        max-width: 40vw;
        padding: 0;
        margin-right: 30px;
      }
      .container:nth-child(2) {
        flex: 0 0 32vw;
        max-width: 32vw;
      }
    }
  }
  .contacts-gallery-wrapper {
    .slider-container {
      .slider-inner {
        height: 62vh;
        min-height: 500px;
        .slider-location.active {
          margin-left: 115px;
        }
      }
      .map-container {
        width: 638px;
        .map-item-container {
          bottom: -10%;
        }
      }
    }
    .contacts-container {
      margin-top: 0;
    }
  }


/*<==== PROJECT PAGE =====>*/ 
.page-header-wrapper{
  .text-wrapper {
    .lower-title{
      width: 50%;
    }
  }
}
.kategora-timeline-wrapper{
  .timeline-wrapper{
    height: 50vh;
  }
  .images-container {
    picture{
      top:-25%;
    }
    img{
      max-width: 250px;
    }
  }
}

}

// <==== FOR MOBILE =====>
@media (max-width: 739px) {
  .hide-on-mobile {
    display:none;
  }
    .row {
        padding-left: 13.33333px;
        padding-right: 13.33333px;
    }
    .row.collapse{
      padding-left: 0;
      padding-right: 0;
    }

  // menu wrapper
  .menu-wrapper {
    min-width: 260px;
  }

  .main-header-wrapper {
    .logo {
      svg {
        width: 100px;
      }
    }
  }
  .home-header-wrapper {
    padding-top: 120px;
    .image-wrapper {
      .header-video-container {
        padding-left: 13.33333px;
        padding-right: 13.33333px;
      }
      .play-video {
        bottom: -90%;
        padding: 20px 24px;
        max-width: 260px;
      }
    }
  }
  .cta-btn-wrapper {
    width: 110px;
    height: 110px;
  }
    // Sustainability block
  .sustainability-block-wrapper {
    .image-container {
      min-height: 600px;
      height: 70vh;
      .floating-img {
        width: 53vw;
        right: -22%;
        top: 23%;
      }
      .title-container {
        .upper-title {
          letter-spacing: 1.3em;
          top: 15%;
        }
      }
    }
    .text-container {
      margin-bottom: 80px;
      margin-top: 80px;
    }
    .more-insights {
      .insights-title {
        padding-left: calc(var(--gridPadd) / 3 + 0.625rem);
        padding-right: calc(var(--gridPadd) / 3 + 0.625rem);
      }
      .scroll-grid {
        padding-left: calc(var(--gridPadd) / 3 + 0.625rem);
        padding-right: calc(var(--gridPadd) / 3 + 0.625rem);
      }
    }
  }
    //  Newletter block   
  .newsletter-block-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    .upper-title {
      letter-spacing: 1.3em;
    }
    .btn {
      .label {
        font-size: 15px;
        line-height: 1;
      }
    }
  }
    // Footer 
  .featured-work-footer-wrapper {
    padding-bottom: 40px;
    padding-top: 40px;
    .work-list-wrapper {
      .title {
        left: calc(var(--gridPadd) / 3 + 0.625rem);
      }
    }
    .row {
      &:first-of-type {
        display: none;
        img {
          width: 0;
          height: 0;
          display: none;
        }
      }
    }
    .legal-list {
      flex-direction: column;
      align-items: center;
      .legal-item {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
    // Project block
  .projects-block-wrapper {
    padding-top: 200px;
    padding-bottom: 200px;
    .images-wrapper {
      figure.kiraly-1-image {
        width: 60vw;
        top: -7%;
      }
      figure.kiraly-2-image {
        display: none;
      }
      figure.ura-1-image {
        display: none;
      }
      figure.ura-2-image {
        display: none;
      }
      figure.nivaria-1-image {
        display: none;
      }
      figure.nivaria-2-image {
        width: 55vw;
        bottom: 5%;
      }
    }
  }
    //  About block
  .about-block-wrapper {
    padding-bottom: 80px;
    .image-container {
      .floating-img {
        width: 53vw;
        right: -22%;
        top: 23%;
      }
      .title-container {
        .upper-title {
          position: absolute;
          top: 15%;
          left: 0;
          width: 100%;
          text-align: center;
        }
      }
    }
    .text-container {
      .left-img-picture {
        margin: 20px 0;
      }
    }
  }
  // Footer 
  .featured-work-footer-wrapper {
    .lower-footer {
      margin-top: 0;
      flex-direction: column;
    }
    .legal-list {
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
    }
    .made-by-buro {
      margin-right: 0;
    }
  }
  /*<======= ABOUT PAGE ======> */ 
  .gross-asset-value-wrapper {
    padding-top: 80px;
  }
  .introduction-block-wrapper {
    padding-top: 100px;
    .image-with-caption-wrapper {
      top: auto;
      margin-bottom: 80px;
    }
  }
  .statistics-wrapper {
    padding-top: 100px;
    padding-bottom: 80px;
    margin-top: 0;
  }
  .the-history-wrapper {
    .bg {
      padding-top: 80px;
      padding-bottom: 220px;
    }
    .upper-title {
      letter-spacing: 1.3em;
    }
    .main-title-col {
      .main-title {
        margin-top: 80px;
        margin-bottom: 80px;
      }
    }
  }
  .image-with-caption-wrapper.left-bottom{
      figcaption {
        position: relative;
        top: auto;
        right: auto;
        margin-top: 15px;
      }
  }
  .investors-block-wrapper {
    .image-block{
      .image-container{
        .video-container {
          width: 36vw;
          top: 50%;
        }
      }
    } 
    .image-block {
      .text-block {
        margin-top: 80px;
        }
    }
    .two-cols-wrapper {
      column-count: 1;
    }
  }

  .team-gallery-wrapper {
    padding: 80px 0;
    .upper-title {
      letter-spacing: 1.3em;
    }
    .gallery-wrapper {
      padding: 0 calc(24.4px + 4.44706vw);
      flex-direction: column-reverse;
    }
    .photos-wrapper {
      .container {
        flex: inherit;
        max-width: inherit;
        flex-shrink: 0;
        width: 100%;
        margin-right: 30px;
        padding: 0;
      }
      .container:nth-child(2){
        flex: inherit;
        max-width: inherit;
        flex-shrink: 0;
        width: 80%;
        padding: 0;
      }
    }
    .controllers-wrapper.mobile {
      display: block;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: -26px;
      width: calc(100% + 52px);
      display: flex;
      justify-content: space-between;
      pointer-events: none;
      transform: translateY(-50%);
      padding-left: .625rem;
      padding-right: .625rem;
      button {
        width: 52px;
        height: 52px;
        pointer-events: visible;
        svg {
          circle{
            fill: #fff;
          }
          path {
            fill: #232323;
          }
        }
      }
    }
  }

  .contacts-gallery-wrapper {
    padding: 80px 0;
    .upper-title {
      letter-spacing: 1.3em;
    }
    .slider-container{
      .selector-container {
        margin-left: 0;
        padding-left: .625rem;
        padding-right: .625rem;
      }
      .map-container {
        width: 100%;
        padding-left: calc(13.33333px + .625rem);
        padding-right: calc(13.33333px + .625rem);
        .map-item-container {
          bottom: -30%;
          width: 36%;
        }
      }
      .slider-inner {
        height: 52vh;
        min-height: 400px;
        .slider-location.active{
          margin-left: 56px;
        }
      }
    }
    .block-bg-cover {
      left: -30px;
    }
    .contacts-container {
      margin-top: 40px;
      .social {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        flex-direction: column;
      }
      .contacts {
        align-items: flex-start;
        margin-bottom: 0;
      }
    }
  }
  /*PROJECT PAGE*/ 
  .page-header-wrapper{
    .text-wrapper {
      height: calc(100vh - 60px);
      top: 0;
      .lower-title{
        width: 100%;
        text-align: center;
      }
    }
  }
  .project-grid-wrapper{
    padding-bottom: 120px;
    .left-layout,.right-layout{
      padding:0
    }
    .big-col{
      padding-left: 0;
      padding-right: 0;
      .text-container{
        display: none;
      }
    }
    .medium-col{
      .text-container{
        margin: 20px 0 40px;
      }
      .mobile-title {
        display: flex;
        justify-content: flex-start;
      }
    }
  }

  .kategora-timeline-wrapper{
    .upper-titles-container{
      .upper-title{
        letter-spacing: 1.3em;
      }
    }
    .controllers-wrapper {
      top: 16vh;
    }
    .timeline-wrapper{
      height: 75vh;
      margin-top:-15vh;
    }
    .images-container {
      width: 316vw;
      picture{
        top:-25%;
        padding-right: 100px;
        &:nth-child(2n){
          top:35%
        }
      }
      img{
        max-width: 200px;
      }
    }
    .timeline-container{
      .timeline-labels{
        li {
          margin-right: 200px;
        }
      }
      .timeline-dots{
        li{
          margin-right:200px;
        }
      }
    }
  }

  .cta-footer-wrapper{
    .upper-title{
      letter-spacing: 1.3em;
    }
    .lower-footer-container {
      position: relative;
      bottom: auto;
      left: auto;
      .lower-footer {
        margin: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        flex-direction: column;
        .legal-list{
          flex-direction: column;
          align-items: center;
          .legal-item{
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
    }
    }
  }
}

// <==== FOR PORTRAIT SCREEN ====>
@media only screen and (orientation: portrait) {
  .home-header-wrapper {
    .image-wrapper {
      height: 60vh;
    }
  }
  .page-header-wrapper {
    height: 120vh;
  }
}
