// <==== FOR TABLET AND MOBILE ===>
@media (max-width: 1024px) {
  .menu-wrapper {
    top: 10px;
    right: 10px;
    height: auto;
    .inner-menu {
      align-items: flex-start;
      width: 100%;
      .language-wrapper {
        top: 30px;
      }
      .main-links {
        padding-top: 60px;
        .main-link {
          a {
            font-family: Saol;
            font-weight: 400;
            font-size: calc(20.2px + 2.22353vw);
            font-weight: 500;
            line-height: 1.6em;
            letter-spacing: -0.01em;
          }
        }
      }
      .menu-btn {
        margin: 0;
        width: 51px;
        height: 51px;
        border-radius: 100%;
        right: 10px;
        top: 10px;
        .label {
          display: none;
        }
        .burguer {
          display: flex;
        }
      }
      .menu-btn-hitzone {
        top: 5px;
        right: 5px;
        width: 61px;
        height: 61px;
      }
    }
  }
  .home-header-wrapper {
    padding-top: 150px;
    .text-wrapper {
      .continue-btn {
        display: none;
      }
    }
    .image-wrapper {
      .header-video-container {
        padding-left: calc(16.4px + 0.21176vw);
        padding-right: calc(16.4px + 0.21176vw);
        video {
          transform: scale(1);
        }
      }
    }
  }
}

// <==== FOR TABLET ======>
@media (min-width: 740px) and (max-width: 1023px) {
    // Menu-wrapper
  .menu-wrapper {
    min-width: 300px;
  }

  // Sustainability block
  .sustainability-block-wrapper {
    .image-container {
      max-height: 800px;
      .floating-img {
        width: 37vw;
        right: -5%;
      }
      .title-container {
        .upper-title {
          position: absolute;
          top: 10%;
          left: 0;
          width: 100%;
          text-align: center;
        }
      }
    }
    .text-container {
      margin-bottom: 40px;
    }
    .more-insights {
      .insights-list {
        grid-column-gap: 30px;
        li {
          .info-container {
            flex-direction: column;
            .left-col {
              order: 2;
              flex: 0 0 100%;
              width: 100%;
            }
            .right-col {
              order: 1;
              text-align: left;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

  // Project block
  .projects-block-wrapper {
    .images-wrapper {
      figure.kiraly-1-image {
        width: 30vw;
      }
      figure.kiraly-2-image {
        display: none;
      }
      figure.nivaria-2-image {
        width: 40vw;
      }
    }
  }

  .home-header-wrapper {
    .image-wrapper {
      .play-video {
        bottom: -130%;
      }
    }
  }

  .cta-btn-wrapper {
    width: 130px;
    height: 130px;
  }
  // About block
  .about-block-wrapper {
    padding-bottom: 80px;
    .image-container {
      max-height: 800px;
      min-height: 600px;
      height: 70vh;
      .floating-img {
        width: 37vw;
        right: -5%;
      }
      .title-container {
        .upper-title {
          position: absolute;
          top: 15%;
          left: 0;
          width: 100%;
          text-align: center;
          letter-spacing: 1.3em;
        }
      }
    }
    .big-number-container {
      margin-top: 100px;
    }
  }
    // Footer   
  .featured-work-footer-wrapper {
    .work-list-wrapper {
      flex-direction: column;
      justify-content: flex-start;
      .title {
        position: relative;
        top: auto;
        margin-bottom: calc(17.4px + 0.74118vw);
      }
    }
    .lower-footer {
      flex-direction: column;
      margin-top: 0;
    }
    .legal-list {
      margin-bottom: 30px;
    }
  }
}

// <==== FOR MOBILE =====>
@media (max-width: 739px) {
    .row {
        padding-left: 13.33333px;
        padding-right: 13.33333px;
    }

  // menu wrapper
  .menu-wrapper {
    min-width: 260px;
  }

  .main-header-wrapper {
    .logo {
      svg {
        width: 100px;
      }
    }
  }
  .home-header-wrapper {
    padding-top: 120px;
    .image-wrapper {
      .header-video-container {
        padding-left: 13.33333px;
        padding-right: 13.33333px;
      }
      .play-video {
        bottom: -90%;
        padding: 20px 24px;
        max-width: 260px;
      }
    }
  }
  .cta-btn-wrapper {
    width: 110px;
    height: 110px;
  }
    // Sustainability block
  .sustainability-block-wrapper {
    .image-container {
      min-height: 600px;
      height: 70vh;
      .floating-img {
        width: 53vw;
        right: -22%;
        top: 23%;
      }
      .title-container {
        .upper-title {
          letter-spacing: 1.3em;
          top: 15%;
        }
      }
    }
    .text-container {
      margin-bottom: 80px;
      margin-top: 80px;
    }
    .more-insights {
      .insights-title {
        padding-left: calc(var(--gridPadd) / 3 + 0.625rem);
        padding-right: calc(var(--gridPadd) / 3 + 0.625rem);
      }
      .scroll-grid {
        padding-left: calc(var(--gridPadd) / 3 + 0.625rem);
        padding-right: calc(var(--gridPadd) / 3 + 0.625rem);
      }
    }
  }
    //  Newletter block   
  .newsletter-block-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    .upper-title {
      letter-spacing: 1.3em;
    }
    .btn {
      .label {
        font-size: 15px;
        line-height: 1;
      }
    }
  }
    // Footer 
  .featured-work-footer-wrapper {
    padding-bottom: 40px;
    padding-top: 40px;
    .work-list-wrapper {
      .title {
        left: calc(var(--gridPadd) / 3 + 0.625rem);
      }
    }
    .row {
      &:first-of-type {
        display: none;
        img {
          width: 0;
          height: 0;
          display: none;
        }
      }
    }
    .legal-list {
      flex-direction: column;
      align-items: center;
      .legal-item {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
    // Project block
  .projects-block-wrapper {
    padding-top: 200px;
    padding-bottom: 200px;
    .images-wrapper {
      figure.kiraly-1-image {
        width: 60vw;
        top: -7%;
      }
      figure.kiraly-2-image {
        display: none;
      }
      figure.ura-1-image {
        display: none;
      }
      figure.ura-2-image {
        display: none;
      }
      figure.nivaria-1-image {
        display: none;
      }
      figure.nivaria-2-image {
        width: 55vw;
        bottom: 5%;
      }
    }
  }
    //  About block
  .about-block-wrapper {
    padding-bottom: 80px;
    .image-container {
      .floating-img {
        width: 53vw;
        right: -22%;
        top: 23%;
      }
      .title-container {
        .upper-title {
          position: absolute;
          top: 15%;
          left: 0;
          width: 100%;
          text-align: center;
        }
      }
    }
    .text-container {
      .left-img-picture {
        margin: 20px 0;
      }
    }
  }
}

// <==== FOR PORTRAIT SCREEN ====>
@media only screen and (orientation: portrait) {
  .home-header-wrapper {
    .image-wrapper {
      height: 60vh;
    }
  }
}
