@media (max-width: 1024px) {
  .hide-all {
    display: none;
  }
  .menu-wrapper {
    top: 10px;
    right: 10px;
    height: auto;
  }
  .menu-wrapper .inner-menu {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .menu-wrapper .inner-menu .language-wrapper {
    top: 30px;
  }
  .menu-wrapper .inner-menu .main-links {
    padding-top: 60px;
  }
  .menu-wrapper .inner-menu .main-links .main-link a {
    font-family: Saol;
    font-weight: 400;
    font-size: calc(20.2px + 2.22353vw);
    font-weight: 500;
    line-height: 1.6em;
    letter-spacing: -0.01em;
  }
  .menu-wrapper .inner-menu .menu-btn {
    margin: 0;
    width: 51px;
    height: 51px;
    border-radius: 100%;
    right: 10px;
    top: 10px;
  }
  .menu-wrapper .inner-menu .menu-btn .label {
    display: none;
  }
  .menu-wrapper .inner-menu .menu-btn .burguer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-wrapper .inner-menu .menu-btn-hitzone {
    top: 5px;
    right: 5px;
    width: 61px;
    height: 61px;
  }
  .home-header-wrapper {
    padding-top: 150px;
  }
  .home-header-wrapper .text-wrapper .continue-btn {
    display: none;
  }
  .home-header-wrapper .image-wrapper .header-video-container {
    padding-left: calc(16.4px + 0.21176vw);
    padding-right: calc(16.4px + 0.21176vw);
  }
  .home-header-wrapper .image-wrapper .header-video-container video {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .gross-asset-value-wrapper .value {
    font-size: 14vw;
  }
  .the-history-wrapper .main-title-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contacts-gallery-wrapper .slider-container {
    margin-top: 40px;
  }
  .contacts-gallery-wrapper .slider-container .selector-container {
    position: absolute;
    top: -2%;
    margin-left: 6.25%;
    width: 93.75%;
    padding-left: calc(16.4px + .21176vw);
    padding-right: calc(16.4px + .21176vw);
    margin-bottom: 0;
  }
  .contacts-gallery-wrapper .slider-container .selector-container ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contacts-gallery-wrapper .slider-container .slider-inner .slide {
    width: 70%;
  }
  /*Expertise page*/
  .expertise-list-wrapper .vectors-list li .line {
    font-size: 10vw;
    opacity: 1;
  }
  .expertise-list-wrapper .vectors-list li img {
    box-ordinal-group: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .expertise-list-wrapper .vectors-list li .inner {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .expertise-list-wrapper .vectors-list li .inner:first-of-type {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
        order: 1;
  }
  .expertise-list-wrapper .vectors-list li:last-child img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .menu-wrapper {
    min-width: 300px;
  }
  .sustainability-block-wrapper .image-container {
    max-height: 800px;
  }
  .sustainability-block-wrapper .image-container .floating-img {
    width: 37vw;
    right: -5%;
  }
  .sustainability-block-wrapper .image-container .title-container .upper-title {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .sustainability-block-wrapper .text-container {
    margin-bottom: 40px;
  }
  .sustainability-block-wrapper .more-insights .insights-list {
    grid-column-gap: 30px;
  }
  .sustainability-block-wrapper .more-insights .insights-list li .info-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sustainability-block-wrapper .more-insights .insights-list li .info-container .left-col {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
  }
  .sustainability-block-wrapper .more-insights .insights-list li .info-container .right-col {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
    margin-bottom: 20px;
  }
  .projects-block-wrapper .images-wrapper figure.kiraly-1-image {
    width: 30vw;
  }
  .projects-block-wrapper .images-wrapper figure.kiraly-2-image {
    display: none;
  }
  .projects-block-wrapper .images-wrapper figure.nivaria-2-image {
    width: 40vw;
  }
  .home-header-wrapper .image-wrapper .play-video {
    bottom: -130%;
  }
  .cta-btn-wrapper {
    width: 130px;
    height: 130px;
  }
  .about-block-wrapper {
    padding-bottom: 80px;
  }
  .about-block-wrapper .image-container {
    max-height: 800px;
    min-height: 600px;
    height: 70vh;
  }
  .about-block-wrapper .image-container .floating-img {
    width: 37vw;
    right: -5%;
  }
  .about-block-wrapper .image-container .title-container .upper-title {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    text-align: center;
    letter-spacing: 1.3em;
  }
  .about-block-wrapper .big-number-container {
    margin-top: 100px;
  }
  .featured-work-footer-wrapper .work-list-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .featured-work-footer-wrapper .work-list-wrapper .title {
    position: relative;
    top: auto;
    margin-bottom: calc(17.4px + 0.74118vw);
  }
  .featured-work-footer-wrapper .lower-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
  .featured-work-footer-wrapper .legal-list {
    margin-bottom: 30px;
  }
  /*<===== ABOUT PAGE ======>*/
  .introduction-block-wrapper .image-with-caption-wrapper.bottom-right {
    top: auto;
    margin-bottom: 35px;
  }
  .introduction-block-wrapper .image-with-caption-wrapper.bottom-right figcaption {
    position: relative;
    top: auto;
    margin-top: 20px;
  }
  .the-history-wrapper .bg {
    padding-bottom: 220px;
  }
  .the-history-wrapper .main-title-col .main-title {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .image-with-caption-wrapper.left-bottom figcaption {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 15px;
  }
  .investors-block-wrapper .image-block .image-container .video-container {
    width: 29vw;
    top: 60%;
  }
  .team-gallery-wrapper .photos-wrapper .container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40vw;
            flex: 0 0 40vw;
    max-width: 40vw;
    padding: 0;
    margin-right: 30px;
  }
  .team-gallery-wrapper .photos-wrapper .container:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32vw;
            flex: 0 0 32vw;
    max-width: 32vw;
  }
  .contacts-gallery-wrapper .slider-container .controllers-wrapper {
    width: 600px;
  }
  .contacts-gallery-wrapper .slider-container .slider-inner {
    height: 62vh;
    min-height: 500px;
  }
  .contacts-gallery-wrapper .slider-container .slider-inner .slider-location {
    margin-left: 115px;
  }
  .contacts-gallery-wrapper .slider-container .map-container {
    width: 638px;
  }
  .contacts-gallery-wrapper .slider-container .map-container .map-item-container {
    bottom: -10%;
  }
  .contacts-gallery-wrapper .contacts-container {
    margin-top: 0;
  }
  /*<==== PROJECT PAGE =====>*/
  .page-header-wrapper .text-wrapper .lower-title {
    width: 50%;
  }
  .kategora-timeline-wrapper .timeline-wrapper {
    height: 50vh;
  }
  .kategora-timeline-wrapper .images-container picture {
    top: -25%;
  }
  .kategora-timeline-wrapper .images-container img {
    max-width: 250px;
  }
}

@media (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }
  .row {
    padding-left: 13.33333px;
    padding-right: 13.33333px;
  }
  .row.collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .menu-wrapper {
    min-width: 260px;
  }
  .main-header-wrapper .logo svg {
    width: 100px;
  }
  .home-header-wrapper {
    padding-top: 120px;
  }
  .home-header-wrapper .image-wrapper .header-video-container {
    padding-left: 13.33333px;
    padding-right: 13.33333px;
  }
  .home-header-wrapper .image-wrapper .play-video {
    bottom: -90%;
    padding: 20px 24px;
    max-width: 260px;
  }
  .cta-btn-wrapper {
    width: 110px;
    height: 110px;
  }
  .sustainability-block-wrapper .image-container {
    min-height: 600px;
    height: 70vh;
  }
  .sustainability-block-wrapper .image-container .floating-img {
    width: 53vw;
    right: -22%;
    top: 23%;
  }
  .sustainability-block-wrapper .image-container .title-container .upper-title {
    letter-spacing: 1.3em;
    top: 15%;
  }
  .sustainability-block-wrapper .text-container {
    margin-bottom: 80px;
    margin-top: 80px;
  }
  .sustainability-block-wrapper .more-insights .insights-title {
    padding-left: calc(var(--gridPadd) / 3 + 0.625rem);
    padding-right: calc(var(--gridPadd) / 3 + 0.625rem);
  }
  .sustainability-block-wrapper .more-insights .scroll-grid {
    padding-left: calc(var(--gridPadd) / 3 + 0.625rem);
    padding-right: calc(var(--gridPadd) / 3 + 0.625rem);
  }
  .newsletter-block-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .newsletter-block-wrapper .upper-title {
    letter-spacing: 1.3em;
  }
  .newsletter-block-wrapper .btn .label {
    font-size: 15px;
    line-height: 1;
  }
  .featured-work-footer-wrapper {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .featured-work-footer-wrapper .work-list-wrapper .title {
    left: calc(var(--gridPadd) / 3 + 0.625rem);
  }
  .featured-work-footer-wrapper .row:first-of-type {
    display: none;
  }
  .featured-work-footer-wrapper .row:first-of-type img {
    width: 0;
    height: 0;
    display: none;
  }
  .featured-work-footer-wrapper .legal-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .featured-work-footer-wrapper .legal-list .legal-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .projects-block-wrapper {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .projects-block-wrapper .images-wrapper figure.kiraly-1-image {
    width: 60vw;
    top: -7%;
  }
  .projects-block-wrapper .images-wrapper figure.kiraly-2-image {
    display: none;
  }
  .projects-block-wrapper .images-wrapper figure.ura-1-image {
    display: none;
  }
  .projects-block-wrapper .images-wrapper figure.ura-2-image {
    display: none;
  }
  .projects-block-wrapper .images-wrapper figure.nivaria-1-image {
    display: none;
  }
  .projects-block-wrapper .images-wrapper figure.nivaria-2-image {
    width: 55vw;
    bottom: 5%;
  }
  .about-block-wrapper {
    padding-bottom: 80px;
  }
  .about-block-wrapper .image-container .floating-img {
    width: 53vw;
    right: -22%;
    top: 23%;
  }
  .about-block-wrapper .image-container .title-container .upper-title {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .about-block-wrapper .text-container .left-img-picture {
    margin: 20px 0;
  }
  .featured-work-footer-wrapper .lower-footer {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .featured-work-footer-wrapper .legal-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .featured-work-footer-wrapper .made-by-buro {
    margin-right: 0;
  }
  /*<======= ABOUT PAGE ======> */
  .gross-asset-value-wrapper {
    padding-top: 80px;
  }
  .introduction-block-wrapper {
    padding-top: 100px;
  }
  .introduction-block-wrapper .image-with-caption-wrapper {
    top: auto;
    margin-bottom: 80px;
  }
  .statistics-wrapper {
    padding-top: 100px;
    padding-bottom: 80px;
    margin-top: 0;
  }
  .the-history-wrapper .bg {
    padding-top: 80px;
    padding-bottom: 220px;
  }
  .the-history-wrapper .upper-title {
    letter-spacing: 1.3em;
  }
  .the-history-wrapper .main-title-col .main-title {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .image-with-caption-wrapper.left-bottom figcaption {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 15px;
  }
  .investors-block-wrapper .image-block .image-container .video-container {
    width: 36vw;
    top: 50%;
  }
  .investors-block-wrapper .image-block .text-block {
    margin-top: 80px;
  }
  .investors-block-wrapper .two-cols-wrapper {
    -webkit-column-count: 1;
            column-count: 1;
  }
  .team-gallery-wrapper {
    padding: 80px 0;
  }
  .team-gallery-wrapper .upper-title {
    letter-spacing: 1.3em;
  }
  .team-gallery-wrapper .gallery-wrapper {
    padding: 0 calc(24.4px + 4.44706vw);
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .team-gallery-wrapper .photos-wrapper .container {
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
    max-width: inherit;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 100%;
    margin-right: 30px;
    padding: 0;
  }
  .team-gallery-wrapper .photos-wrapper .container:nth-child(2) {
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
    max-width: inherit;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 80%;
    padding: 0;
  }
  .team-gallery-wrapper .controllers-wrapper.mobile {
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: -26px;
    width: calc(100% + 52px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    pointer-events: none;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding-left: .625rem;
    padding-right: .625rem;
  }
  .team-gallery-wrapper .controllers-wrapper.mobile button {
    width: 52px;
    height: 52px;
    pointer-events: visible;
  }
  .team-gallery-wrapper .controllers-wrapper.mobile button svg circle {
    fill: #fff;
  }
  .team-gallery-wrapper .controllers-wrapper.mobile button svg path {
    fill: #232323;
  }
  .contacts-gallery-wrapper {
    padding: 80px 0;
  }
  .contacts-gallery-wrapper .upper-title {
    letter-spacing: 1.3em;
  }
  .contacts-gallery-wrapper .slider-container .controllers-wrapper {
    width: 315px;
  }
  .contacts-gallery-wrapper .slider-container .selector-container {
    margin-left: 0;
    padding-left: .625rem;
    padding-right: .625rem;
  }
  .contacts-gallery-wrapper .slider-container .map-container {
    width: 100%;
    padding-left: calc(13.33333px + .625rem);
    padding-right: calc(13.33333px + .625rem);
  }
  .contacts-gallery-wrapper .slider-container .map-container .map-item-container {
    bottom: -30%;
    width: 36%;
  }
  .contacts-gallery-wrapper .slider-container .slider-inner {
    height: 52vh;
    min-height: 400px;
  }
  .contacts-gallery-wrapper .slider-container .slider-inner .slider-location {
    margin-left: 56px;
  }
  .contacts-gallery-wrapper .slider-container .slider-inner .slide {
    padding: 0;
  }
  .contacts-gallery-wrapper .block-bg-cover {
    left: -30px;
  }
  .contacts-gallery-wrapper .contacts-container {
    margin-top: 40px;
  }
  .contacts-gallery-wrapper .contacts-container .social {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts-gallery-wrapper .contacts-container .contacts {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0;
  }
  /*PROJECT PAGE*/
  .page-header-wrapper .text-wrapper {
    height: calc(100vh - 60px);
    top: 0;
  }
  .page-header-wrapper .text-wrapper .lower-title {
    width: 100%;
    text-align: center;
  }
  .project-grid-wrapper {
    padding-bottom: 120px;
  }
  .project-grid-wrapper .left-layout, .project-grid-wrapper .right-layout {
    padding: 0;
  }
  .project-grid-wrapper .big-col {
    padding-left: 0;
    padding-right: 0;
  }
  .project-grid-wrapper .big-col .text-container {
    display: none;
  }
  .project-grid-wrapper .medium-col .text-container {
    margin: 20px 0 40px;
  }
  .project-grid-wrapper .medium-col .mobile-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .kategora-timeline-wrapper .upper-titles-container .upper-title {
    letter-spacing: 1.3em;
  }
  .kategora-timeline-wrapper .controllers-wrapper {
    top: 16vh;
  }
  .kategora-timeline-wrapper .timeline-wrapper {
    height: 75vh;
    margin-top: -15vh;
  }
  .kategora-timeline-wrapper .images-container {
    width: 316vw;
  }
  .kategora-timeline-wrapper .images-container picture {
    top: -25%;
    padding-right: 100px;
  }
  .kategora-timeline-wrapper .images-container picture:nth-child(2n) {
    top: 35%;
  }
  .kategora-timeline-wrapper .images-container img {
    max-width: 200px;
  }
  .kategora-timeline-wrapper .timeline-container .timeline-labels li {
    margin-right: 200px;
  }
  .kategora-timeline-wrapper .timeline-container .timeline-dots li {
    margin-right: 200px;
  }
  .cta-footer-wrapper .upper-title {
    letter-spacing: 1.3em;
  }
  .cta-footer-wrapper .lower-footer-container {
    position: relative;
    bottom: auto;
    left: auto;
  }
  .cta-footer-wrapper .lower-footer-container .lower-footer {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cta-footer-wrapper .lower-footer-container .lower-footer .legal-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cta-footer-wrapper .lower-footer-container .lower-footer .legal-list .legal-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media only screen and (orientation: portrait) {
  .home-header-wrapper .image-wrapper {
    height: 60vh;
  }
  .page-header-wrapper {
    height: 120vh;
  }
}
/*# sourceMappingURL=responsive.css.map */