@font-face {
  font-family: Matter;
  src: url("../font/Matter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Matter;
  src: url("../font/Matter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Matter;
  src: url("../font/Matter-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Saol;
  src: url("../font/SaolDisplay-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: Saol;
  src: url("..font/SaolDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Saol;
  src: url("../font/SaolDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Saol;
  src: url("../font/SaolDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Saol;
  src: url("../font/SaolDisplay-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@keyframes autorotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes infinityText {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(110%, 0, 0);
  }
}
@keyframes infinityText2 {
  0% {
    transform: translate3d(-210%, 0, 0);
  }
  100% {
    transform: translate3d(0%, 0, 0);
  }
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --matter-font: "Matter";
  --saol-font: "Saol";
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #232323;
}
::-webkit-scrollbar-thumb {
  background: #030303;
}

img {
  font-family: var(--matter-font);
  display: block;
  max-width: 100%;
  height: auto;
  user-select: none;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
p {
  margin-bottom: 1em;
  font-family: Matter;
  font-weight: 400;
  font-size: calc(17.2px + 0.63529vw);
  font-weight: "normal";
  color: #232323;
  line-height: 1.4em;
  letter-spacing: -0.02em;
  text-indent: 25px;
}
ul {
  list-style-type: none;
}
ol {
  list-style-type: none;
}
section {
  display: block;
}

.row {
  max-width: 98.75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(16.4px + .21176vw);
  padding-right: calc(16.4px + .21176vw);
  display: flex;
  flex-flow: row wrap;
}
.row.expanded {
  max-width: none;
}

.row.no-pd{
  padding-left:0;
  padding-right:0;
}
.italic {
  font-style: italic;
}
.serif-light {
  font-family: Saol;
  font-weight: 300;
  span {
    font-family: Saol;
    font-weight: 300;
  }
}
.serif-normal{
  font-family: Saol;
  font-weight: 400;
}

.serif-medium {
  font-family: Saol;
  font-weight: 600;
  span {
    font-family: Saol;
    font-weight: 500;
  }
}

// Mixin scss 
@mixin mainTitle ($color) {
  font-family: Matter;
  font-weight: 400;
  font-size: calc(26.4px + 5.50588vw);
  font-weight: 300;
  color: $color;
  line-height: 1em;
  letter-spacing: -.03em;
}

@mixin upperTitle ($color) {
  position: relative;
  left: 10px;
  display: block;
  font-family: Saol;
  font-size: 10px;
  font-weight: 600;
  color: $color;
  line-height: 1.1em;
  letter-spacing: 2.3em;
  text-transform: uppercase;
  opacity: 1;
}
@mixin pageHeader {
    position: relative;
    display: block;
    width: 100%;
    height: 150vh;
    min-height: 800px;
}

// <====== ************* HOME PAGE ************* ======>

// Logo
.main-header-wrapper {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  z-index: 1000;
  opacity: 1;
  pointer-events: none;
  .logo {
    pointer-events: visible;
  }
  svg {
    path {
      .kategora-type {
        position: relative;
      }
      fill:#232323
    }
  }
}
.main-header-wrapper.change-color {
  svg {
    path {
      fill: #fff;
    }
  }
}

// Menu wrapper
.menu-wrapper {
  position: fixed;
  top: calc(50% - 250px);
  right: 8px;
  display: flex;
  align-items: center;
  height: 500px;
  pointer-events: none;
  z-index: 1001;
  opacity: 1;
  .inner-menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 10px 18px 0 transparent;
      background-color: rgba(0, 0, 0, 0.95);
      border-radius: 8px;
      transform-origin: right;
      opacity: 0;
      transform: scale(0) translate3d(-30px,0,0);
      will-change: transform;
      transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
    	opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      backdrop-filter: none;
    }
  }
  .language-wrapper {
    position: absolute;
    top: 40px;
    left: calc(19.9px + 2.06471vw);
    display: flex;
    align-items: baseline;
    visibility: inherit;
    opacity: 0;
    z-index: 1;
    svg {
      position: relative;
      opacity: inherit;
      visibility: inherit;
      path {
        fill: #fff;
      }
    }
    .language-links {
      display: flex;
      align-items: center;
      li {
        position: relative;
        a {
          position: relative;
          padding: 10px;
          font-family: Matter;
          font-size: 13px;
          font-weight: 400;
          color: #757575;
          line-height: 1.2em;
          text-transform: uppercase;
          text-decoration: none;
          opacity: inherit;
          transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
          &:hover {
            color: #fff;
          }
        }
      }
      li.active{
        a{
          color:#fff
        }
      }
    }
  }
  &.active {
    pointer-events: visible;
    .inner-menu {
      pointer-events: visible;
      &:before {
        opacity: 1;
        transform: scale(1) translateX(0);
      }
    }
    .language-wrapper {
      opacity: 1;
    }
    .main-links {
      opacity: 1;
    }
  }
  .main-links {
    position: relative;
    padding: calc(22.9px + 3.65294vw) 0 calc(17.9px + 1.00588vw)
      calc(19.9px + 2.06471vw);
    opacity: 0;
    visibility: inherit;
    .main-link {
      position: relative;
      display: block;
      a {
        position: relative;
        display: block;
        font-family: Saol;
        font-size: calc(17.4px + 0.74118vw);
        font-weight: 500;
        color: hsla(0, 0%, 100%, 0.6);
        text-decoration: none;
        line-height: 1.6em;
        letter-spacing: -0.01em;
        will-change: transform;
        transition: color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
          transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
          &:hover{
            color: #fff;
            transform: translate3d(6px, 0, 0);
          }
      }
    }
    .main-link.active {
      a {
        color: #fff;
      }
    }
  }
  .menu-btn {
    position: relative;
    margin-left: 70px;
    margin-right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 80px;
    padding: 0;
    user-select: none;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: #232323;
    transition: background-color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    .label {
      position: absolute;
      top: 2px;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-family: Saol;
      font-size: 11px;
      font-weight: 700;
      color: #fff;
      line-height: 1.2em;
      text-transform: uppercase;
      transition: color 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .burguer {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      border: none;
      outline: none;
      box-shadow: none;
      span {
        position: absolute;
        width: 20px;
        height: 2px;
        border-radius: 1px;
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #fff;
        border-radius: 1px;
      }
      span.top {
        top: 21px;
        will-change: transform;
        transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      span.bottom {
        transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        will-change: transform;
        bottom: 21px;
      }
    }
  }
  .menu-btn.light-btn {
    background-color: #fff;
    .label {
      color: #232323;
    }
    .burguer {
      span {
        background-color: #232323;
      }
    }
  }
  .menu-btn-hitzone {
    position: absolute;
    display: block;
    top: calc(50% - 75px);
    right: -5px;
    width: 70px;
    height: 120px;
    cursor: pointer;
    pointer-events: visible;
    border: none;
    outline: none;
    box-shadow: none;
  }
}


// <==== HOME PAGE CONTENT ====>

.page-main {
  overflow: hidden;
  .home-page {
    background-color: #fffcf8;
    .page-header {
      position: relative;
    }
  }
}
.page-content {
  position: relative;
  background-color: #fffcf8;
}
.home-header-wrapper {
  position: relative;
  padding: calc(32.4px + 8.68235vw) 0 0;
  .background-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #232323;
    opacity: 0;
  }
  .upper-title {
    @include upperTitle(#232323);
    margin-bottom: calc(20.4px + 2.32941vw);
  }
  .text-wrapper {
    position: relative;
    will-change: transform;
    .text-center {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h2 {
      position: relative;
      font-family: Matter;
      font-weight: 400;
      font-size: calc(26.4px + 5.50588vw);
      font-weight: 300;
      color: #232323;
      line-height: 1.1em;
      letter-spacing: -0.03em;
      padding-bottom: calc(31.4px + 8.15294vw);
      opacity: 0;
      transform: translate3d(0, 60px, 0);
      will-change: transform;
      p {
        text-indent: 0;
        margin: 0;
        font-family: Matter;
        font-size: calc(26.4px + 5.50588vw);
        font-weight: 300;
        line-height: 1.1em;
        letter-spacing: -0.03em;
        color: inherit;
        span {
          font-size: calc(26.4px + 5.50588vw);
          line-height: 1.1em;
          letter-spacing: -0.03em;
          color: inherit;
        }
      }
    }
    .text {
      display: block;
    }
    .continue-btn {
      display: inline-flex;
      position: absolute;
      bottom: calc(22.4px + 3.38824vw);
      align-items: center;
      justify-content: center;
      padding: 22px 39px 22px 46px;
      outline: none;
      background-color: transparent;
      box-shadow: none;
      border: none;
      cursor: pointer;
      .bg {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(35, 35, 35, 0.4);
        border-radius: 72px;
        background-color: rgba(35, 35, 35, 0);
        transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1),
          background-color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        transform-origin: center;
        backface-visibility: hidden;
        will-change: transform;
      }
      &:hover {
        .bg {
          transform: scale(1.1);
          background-color: #232323;
        }
        .label {
          color: white;
        }
        .icon {
          line {
            stroke: #fff;
          }
          path {
            stroke: #fff;
          }
        }              
      }
      .label {
        position: relative;
        margin-right: calc(16.4px + 0.21176vw);
        font-family: Saol;
        font-size: 16px;
        font-weight: 500;
        color: #232323;
        line-height: 1.103em;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        transition: color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        will-change: transform;
      }
      .icon-container {
        position: relative;
        top: -1px;
        .icon {
          position: relative;
          display: block;
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-duration: 1s;
          line {
            transition: stroke 1s cubic-bezier(0.165, 0.84, 0.44, 1);
          }
          path {
            transition: stroke 1s cubic-bezier(0.165, 0.84, 0.44, 1);
          }
        }
      }
    }
  }
  .image-wrapper {
    position: relative;
    display: block;
    height: 120vh;
    opacity: 1;
    padding: 0;
    overflow: hidden;
    .play-video {
      position: absolute;
      bottom: calc(19.4px + 13vw);
      left: 0;
      right: 0;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 28px 34px;
      max-width: 300px;
      text-decoration: none;
      border-radius: 58px;
      border: none;
      outline: none;
      background: transparent;
      z-index: 1;
      cursor: pointer;
      opacity: 1;
      .bg {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 58px;
        background-color: rgb(246, 244, 242);
        transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1),
          background-color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        transform: scale(1);
        transform-origin: center;
        backface-visibility: hidden;
        will-change: transform;
      }
      &:hover {
        .bg {
          transform: scale(1.1);
          background-color: #f6f4f2 !important;
        }
      }
      .label {
        position: relative;
        font-family: Saol;
        font-weight: 400;
        font-size: 16px;
        font-weight: 500;
        color: #232323;
        line-height: 1.1em;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        margin-right: 28px;
        opacity: 1;
        transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      }
      .icon-container {
        .icon {
          position: relative;
          display: block;
          opacity: 1;
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-duration: 1s;
        }
      }
    }
    .text-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transform: translate3d(0, -100%, 0);
      h2 {
        color: #fff;
      }
    }
    .header-video-container {
      position: relative;
      height: 100%;
      width: 100%;
      video {
        position: relative;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        height: 100%;
        transform: scale(0.9);
        will-change: transform;
        transform-origin: top center;
      }
    }
    
  }
}
.playFullVideo {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: rgba(35, 35, 35, 0.8);
  backdrop-filter: blur(18px);
  width: 100%;
  height: 100%;
  z-index: 5000;
  justify-content: center;
  align-items: center;
  display: none;
  opacity: 0;
  cursor: pointer;
  video {
    position: relative;
    height: 100%;
    outline: none;
  }
}
// CTA button (2 button)
.cta-btn-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 170px;
  z-index: 10;
  cursor: pointer;
  a {
    will-change: transform;
    transition: 0.5s ease;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  &:hover {
    a {
      transform: scale(1.05, 1.05);
    }
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #232323;
    background-color: rgba(35, 35, 35, 0.95);
    backdrop-filter: blur(4px);
  }
  .round-text-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      animation: autorotate 16s linear infinite;
    }
  }
  .icons-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    user-select: none;
  }
}
//  Block background (4 background)
.block-bg-cover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .element-cover {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    overflow: hidden;
  }
}
// Scroll grid (2 scroll grid)
.scroll-grid {
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

// <===== PAGE CONTENT ====>

// Project block
.projects-block-wrapper {
  position: relative;
  z-index: 1;
  padding: calc(46.4px + 16.09412vw) 0 calc(64.4px + 25.62353vw);
  .title-container {
    position: relative;
    z-index: 1;
  }
  .upper-title {
    @include upperTitle(#232323);
    margin-bottom: calc(16.9px + 0.47647vw);
  }
  .main-title {
    @include mainTitle(#232323);
    p {
      margin: 0;
      text-indent: 0;
      font-family: Matter;
      font-size: calc(26.4px + 5.50588vw);
      font-weight: 300;
      color: #232323;
      line-height: 1.1em;
      letter-spacing: -0.02em;
    }
  }
  .cta-btn-wrapper {
    margin-top: calc(19.4px + 1.8vw);
  }
  .text-container {
    position: relative;
    margin-top: calc(44.4px + 15.03529vw);
    opacity: 1;
    p {
      font-family: Matter;
      font-size: calc(19.4px + 1.8vw);
      font-weight: 300;
      color: #232323;
      line-height: 1.1em;
      letter-spacing: -0.03em;
    }
  }
  .images-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: calc(24.4px + 4.44706vw);
    pointer-events: none;
    figure {
      img {
        width: 100%;
        height: 100%;
      }
    }
    figure.kiraly-1-image {
      position: absolute;
      top: -10%;
      left: 10%;
      max-width: 500px;
      width: 20vw;
    }
    figure.kiraly-2-image {
      position: absolute;
      top: 100px;
      right: 0;
      max-width: 400px;
      width: 16vw;
    }
    figure.ura-1-image {
      position: absolute;
      top: calc(64.4px + 25.62353vw);
      left: 0;
      max-width: 800px;
      width: 32vw;
      .caption {
        text-align: right;
      }
    }
    figure.ura-2-image {
      position: absolute;
      bottom: calc(38.4px + 11.85882vw);
      left: 20px;
      width: 21vw;
      max-width: 420px;
    }
    figure.nivaria-1-image {
      position: absolute;
      top: 50%;
      right: 0;
      max-width: 440px;
      width: 21vw;
    }
    figure.nivaria-2-image {
      position: absolute;
      bottom: calc(29.4px + 7.09412vw);
      right: calc(30.4px + 7.62353vw);
      max-width: 670px;
      width: 31vw;
    }
    figure {
      figcaption {
        .caption {
          display: block;
          margin-top: 15px;
          font-family: Saol;
          font-weight: 400;
          font-size: 14px;
          font-weight: 500;
          color: #000;
          line-height: 1.2em;
          letter-spacing: -0.01em;
          text-transform: uppercase;
        }
      }
    }
  }
}

// About block
.about-block-wrapper {
  position: relative;
  padding-bottom: calc(30.4px + 7.62353vw);
  .image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 800px;
    .floating-img {
      position: absolute;
      top: 20%;
      right: 8%;
      max-width: 448px;
      width: 19vw;
      z-index: 2;
    }
    .title-container {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      z-index: 1;
      .inner {
        text-align: center;
        width: 100%;
      }
      .upper-title {
        @include upperTitle(#fff);
        margin-bottom: calc(16.9px + 0.47647vw);
      }
      .slide-title-container {
        display: flex;
        justify-self: center;
        overflow: hidden;
        h2 {
          &:nth-child(1) {
            animation: infinityText 30s linear infinite;
          }
          &:nth-child(2) {
            animation: infinityText2 30s linear infinite;
            animation-delay: -15s;
          }
        }
      }
      h2 {
        position: relative;
        display: inline-block;
        width: auto;
        font-family: Saol;
        font-weight: 400;
        font-size: calc(45.4px + 15.56471vw);
        font-weight: 300;
        color: #fff;
        line-height: 1.1em;
        letter-spacing: -0.02em;
        font-style: italic;
        white-space: nowrap;
        text-align: left;
        user-select: none;
      }
    }
  }
  .text-container {
    position: relative;
    margin-top: calc(22.9px + 3.65294vw);
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    .left-img-picture {
      position: relative;
      display: block;
      img {
        width: 100%;
      }
    }
    .statistics-list {
      li {
        position: relative;
        padding: 20px 0 10px 20px;
        font-family: Matter;
        font-size: calc(16.6px + 0.31765vw);
        font-weight: 400;
        color: #232323;
        line-height: 1.4em;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 1px;
          background-color: #000;
          transform: scaleX(0);
          will-change: transform;
          transform-origin: left;
          transition: transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
      }
      li.enter-viewport {
        &:after {
          transform: scaleX(1);
        }
      }
    }
  }
  .big-number-container {
    position: relative;
    margin-top: calc(29.4px + 7.09412vw);
    .number {
      font-family: Matter;
      font-weight: 400;
      font-weight: 300;
      color: #232323;
      line-height: 0.7em;
      letter-spacing: -0.01em;
      white-space: nowrap;
      font-size: 40vw;
      span {
        position: relative;
        display: block;
        transform: scale(1.4);
        will-change: transform;
        transform-origin: left;
      }
    }
    .label {
      display: block;
      position: absolute;
      bottom: -4em;
      left: 0.625rem;
      font-family: Matter;
      font-size: calc(16.8px + 0.42353vw);
      font-weight: 400;
      color: #000;
      line-height: 1.4em;
      letter-spacing: -0.01em;
    }
  }
}

// Sustainability block
.sustainability-block-wrapper {
  position: relative;
  padding-bottom: calc(30.4px + 7.62353vw);
  background-color: #131d18;
  .image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 800px;
    .sustainability-bg {
      max-width: 100%;
    }
    .floating-img {
      position: absolute;
      top: 20%;
      right: 8%;
      max-width: 448px;
      width: 19vw;
      z-index: 2;
    }
    .title-container {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      z-index: 1;
      .inner {
        text-align: center;
        width: 100%;
      }
      .upper-title {
        margin-bottom: calc(16.9px + 0.47647vw);
        @include upperTitle(#fff)
      }
      h2 {
        position: relative;
        top: 0;
        left: 0;
        display: inline-block;
        font-family: Saol;
        font-weight: 400;
        font-size: calc(45.4px + 15.56471vw);
        font-weight: 300;
        color: #fff;
        line-height: 1.1em;
        letter-spacing: -0.02em;
        font-style: italic;
        white-space: nowrap;
        text-align: left;
        user-select: none;
        &:nth-child(1) {
          animation: infinityText 30s linear infinite;
        }
        &:nth-child(2) {
          animation: infinityText2 30s linear infinite;
          animation-delay: -15s;
        }
      }
      .slide-title-container {
        display: flex;
        justify-self: center;
        overflow: hidden;
      }
    }
  }
  .text-container {
    position: relative;
    margin-top: calc(22.9px + 3.65294vw);
    display: flex;
    align-items: flex-end;
    h3 {
      font-family: Matter;
      font-size: calc(19.4px + 1.8vw);
      font-weight: 400;
      color: #f6f4f2;
      line-height: 1.18em;
      letter-spacing: -0.02em;
    }
    p {
      margin-top: calc(18.4px + 1.27059vw);
      text-indent: 0;
      color: #f6f4f2;
      font-weight: 300;
      margin-top: calc(18.4px + 1.27059vw);
      text-indent: 0;
      color: #f6f4f2;
      font-weight: 300;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .more-insights {
    padding-right: 0;
    padding-left: 0;
    --gridpadd: calc(18.4px + 1.27059vw);
    margin-top: calc(34.4px + 9.74118vw);
    .insights-title {
      position: relative;
      display: block;
      width: 100%;
      font-family: Matter;
      font-size: calc(16.6px + 0.31765vw);
      font-weight: 400;
      color: #f6f4f2;
      line-height: 1.4em;
      padding-left: calc(var(--gridPadd) + 0.625rem);
      padding-right: calc(var(--gridPadd) + 0.625rem);
      &:after {
        content: "";
        position: relative;
        margin-top: 5px;
        display: block;
        width: 100%;
        height: 1px;
        background-color: #f6f4f2;
        transform: scaleX(0);
        will-change: transform;
        transform-origin: left;
        transition: transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }
    }
    .insights-title.enter-viewport {
      &:after {
        transform: scaleX(1);
      }
    }
    .scroll-grid {
      padding-left: calc(var(--gridPadd) + 0.625rem);
      padding-right: calc(var(--gridPadd) + 0.625rem);
    }
    .insights-list {
      position: relative;
      margin-top: calc(17.4px + 0.74118vw);
      display: inline-grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 60px;
      justify-items: start;
      li {
        position: relative;
        text-align: center;
        min-width: 220px;
        width: 100%;
        a {
          position: relative;
          display: block;
          text-decoration: none;
          will-change: transform;
          &:hover {
            img {
              transform: scale(1.1);
            }
          }
        }
        picture {
          position: relative;
          display: block;
          overflow: hidden;
          img {
            transition: transform 2.5s cubic-bezier(0.165, 0.84, 0.44, 1);
          }
        }
        .image-wrapper {
          position: relative;
          max-height: 770px;
          padding-top: 102%;
        }
        .info-container {
          position: relative;
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
          .left-col {
            flex: 0 0 70%;
            width: 70%;
          }
          .right-col {
            text-align: right;
          }
        }
        .title {
          position: relative;
          display: block;
          text-align: left;
          font-family: Matter;
          font-size: calc(16.6px + 0.31765vw);
          font-weight: 400;
          color: #f6f4f2;
          line-height: 1.18em;
          letter-spacing: -0.02em;
        }
        .author {
          position: relative;
          margin-top: calc(16.6px + 0.31765vw);
          display: block;
          text-align: left;
          font-family: Matter;
          font-size: 12px;
          font-weight: 400;
          color: #f6f4f2;
          line-height: 1.18em;
          letter-spacing: -0.02em;
        }
        .reading-time {
          position: relative;
          margin-top: 5px;
          display: block;
          text-align: left;
          font-family: Matter;
          font-size: 12px;
          font-weight: 400;
          color: #f6f4f2;
          line-height: 1.18em;
          letter-spacing: -0.02em;
          opacity: 0.4;
        }
        .category {
          display: block;
          text-align: left;
          font-family: Matter;
          font-size: 15px;
          font-weight: 400;
          color: #f6f4f2;
          line-height: 1.18em;
          letter-spacing: -0.02em;
        }
      }
    }
  }
  .more-insights.enter-viewport {
    .insights-title {
      &:after {
        transform: scaleX(1);
      }
    }
  }
}

// Newsletter block
.newsletter-block-wrapper {
  position: relative;
  padding: calc(29.4px + 7.09412vw) 0 calc(34.4px + 9.74118vw);
  .upper-title {
    @include upperTitle(#232323)
  }
  .title {
    position: relative;
    margin-top: calc(20.2px + 2.22353vw);
    font-family: Matter;
    font-weight: 400;
    font-size: calc(19.6px + 1.90588vw);
    font-weight: 300;
    color: #232323;
    line-height: 1.3em;
    span {
      font-size: calc(19.6px + 1.90588vw);
      color: #232323;
      line-height: 1.3em;
    }
  }
  .btn {
    position: relative;
    margin-top: calc(20.4px + 2.32941vw);
    display: inline-flex;
    align-items: center;
    justify-self: center;
    padding: 25px 35px;
    border-radius: 70px;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border: 1px solid #232323;
      border-radius: 70px;
      background-color: transparent;
      will-change: transform;
      transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1),
        background-color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &:hover {
      .bg {
        transform: scale(1.1);
        background-color: #232323;
      }
      .label {
        color: #fff;
      }
      svg {
        path {
          fill: #fff;
        }
      }
    }
    .label {
      position: relative;
      margin-right: 16px;
      font-family: Saol;
      font-weight: 400;
      font-size: 16px;
      font-weight: 500;
      color: #232323;
      line-height: 1.1em;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      pointer-events: none;
      transition: color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    svg {
      position: relative;
      top: -1px;
      pointer-events: none;
      path {
        transition: stroke 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
    }
  }
}

// Footer
.featured-work-footer-wrapper {
  position: relative;
  padding-top: calc(20.4px + 2.32941vw);
  padding-bottom: calc(18.4px + 1.27059vw);
  --gridpadd: calc(18.4px + 1.27059vw);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  .work-list-wrapper {
    position: relative;
    display: flex;
  }
  .title {
    position: absolute;
    top: 0;
    left: calc(var(--gridPadd) + 0.625rem);
    font-family: Matter;
    font-size: calc(17.2px + 0.63529vw);
    font-weight: 400;
    color: #232323;
    line-height: 1.4em;
  }
  .scroll-grid {
    position: relative;
    text-align: right;
    padding-left: calc(var(--gridPadd) + 0.625rem);
    padding-right: calc(var(--gridPadd) + 0.625rem);
  }
  .work-list-wrapper.grid-3 {
    .work-list {
      grid-template-columns: auto auto auto;
    }
  }
  .work-list {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    justify-items: end;
    li {
      position: relative;
      text-align: center;
      min-width: 237px;
      a {
        position: relative;
        display: block;
        text-decoration: none;
        &:hover {
          img {
            transform: scale(1.2);
          }
        }
      }
      picture {
        position: relative;
        display: block;
        overflow: hidden;
        img {
          width: 100%;
          will-change: transform;
          transition: transform 2.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
      }
      .work-title {
        margin: calc(16.4px + 0.21176vw) 0 2px;
        font-family: Saol;
        font-size: calc(16.9px + 0.47647vw);
        font-weight: 500;
        color: #000;
        line-height: 1.2em;
        letter-spacing: -0.01em;
        text-transform: uppercase;
      }
      .description {
        font-family: Saol;
        font-size: calc(16.1px + 0.05294vw);
        font-weight: 300;
        color: #000;
        line-height: 1.2em;
        font-style: italic;
      }
    }
    li.soon {
      img {
        filter: grayscale(100%);
      }
    }
  }
  .lower-footer {
    position: relative;
    margin-top: calc(12.4px + 1.27059vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .legal-list {
    display: flex;
    .legal-item {
      font-family: Saol;
      font-size: 16px;
      font-weight: 500;
      color: #232323;
      line-height: 1.1em;
      text-transform: uppercase;
      margin-right: calc(17.4px + 0.74118vw);
      &:last-child {
        margin-right: 0;
      }
      a {
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        color: #232323;
        &:after {
          content: "";
          position: absolute;
          bottom: -2px;
          display: block;
          width: 100%;
          height: 1px;
          background-color: #232323;
          transform: scaleX(0);
          will-change: transform;
          transform-origin: right;
          transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        &:hover {
          &:after {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }
    }
  }
  .made-by-buro {
    font-family: Saol;
    font-size: 16px;
    font-weight: 500;
    color: #232323;
    line-height: 1.1em;
    text-transform: uppercase;
    margin-right: calc(17.4px + 0.74118vw);
    a {
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      color: #232323;
      &:after {
        content: "";
        position: absolute;
        bottom: -2px;
        display: block;
        width: 100%;
        height: 1px;
        background-color: #232323;
        transform: scaleX(0);
        will-change: transform;
        transform-origin: right;
        transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      &:hover {
        &:after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }
}

/*<====== ************* ABOUT PAGE ************* ======>*/ 
@import '../css/scss/about-page';

/* <====== ************* PROJECT PAGE ************* ======> */ 
@import '../css/scss/project-page';

/* <====== *********** EXPERTISE PAGE ************ ======> */ 
@import '../css/scss/experst-page';

/* <====== *********** INSIGHTS PAGE ************ ======> */ 
@import '../css/scss/insights';
 