.about-page {
    background-color: #f6f4f2;
  }
  .page-header-wrapper {
    @include pageHeader;
    .image-wrapper {
      picture {
        position: relative;
      }
      img {
          transform: scale(1.2);
          will-change: transform;
          transform-origin: center;
      }
    }
    .text-wrapper {
      position: absolute;
      top: 100px;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: calc(100vh - 210px);
      text-align: center;
      overflow: hidden;
      perspective: 500px;
      .row {
        width: 100%;
      }
      .upper-title {
        @include upperTitle(#fff)
      }
      .main-title {
        position: relative;
        display: block;
        margin: calc(20.4px + 2.32941vw) 0;
        font-family: Matter;
        color: #fff;
        line-height: 1.1em;
        letter-spacing: -.03em;
        // opacity: 0;
        transform: scale(0.9);
        p {
          margin-bottom: 0;
          text-indent: 0;
          font-family: Matter;
          font-size: calc(42.4px + 5.50588vw);
          color:#fff;
          font-weight: 300;
          line-height: 1.1em;
          letter-spacing: -.03em;
        }
      }
      .lower-title {
        position: relative;
        display: inline-block;
        width: 25%;
        text-align: left;
        font-family: Matter;
        font-size: calc(16.2px + .10588vw);
        font-weight: 400;
        color: #f6f4f2;
        line-height: 1.4em;
        font-style: italic;
        p {
          font-family: Matter;
          font-size: calc(16.2px + .10588vw);
          font-weight: 400;
          color: #f6f4f2;
          line-height: 1.4em;
          font-style: normal;
          text-indent: 0;
        }
      }
    }
  }
  
  /*Asset value block*/ 
  .gross-asset-value-wrapper {
    display: block;
    padding-top: calc(19.4px + 1.8vw);
    .title {
      font-family: Matter;
      font-size: calc(20.8px + 2.54118vw);
      font-weight: 300;
      color: #232323;
      line-height: 1.18em;
      letter-spacing: -.02em;
      p {
        margin-bottom: 0;
        text-indent: 0;
        font-family: Matter;
        font-weight: 400;
        font-size: calc(20.8px + 2.54118vw);
        font-weight: 300;
        color: #232323;
        line-height: 1.18em;
        letter-spacing: -.02em;
      }
      span {
        font-size: calc(20.8px + 2.54118vw);
        color: #232323;
        line-height: 1.18em;
        letter-spacing: -.02em;
      }
    }
    .value {
      display: block;
      font-family: Matter;
      font-weight: 400;
      font-weight: 300;
      color: #232323;
      line-height: 1.4em;
      letter-spacing: -.01em;
      font-size: 15.5vw;
      white-space: nowrap;
      span {
        position: relative;
        display: block;
        transform-origin: left;
        transform: scale(1.5);
        will-change: transform;
      }
    }
    .small-value {
      position: relative;
      display: block;
      font-family: Matter;
      font-size: calc(16.8px +0.43vw);
      font-weight: 400;
      color:#232323;
      line-height: 1.4em;
      letter-spacing: -0.01em;
    }
  }
  /*Intro block*/
  .introduction-block-wrapper {
    position: relative;
    display: block;
    padding-top: calc(39.4px + 12.38824vw);
    .upper-title{
      @include upperTitle(#232323);
      margin-bottom: calc(21.4px + 2.85882vw);
    }
    .image-container {
      position: relative;
    }
    .image-with-caption-wrapper {
      position: relative;
      top: 10vh;
      img {
        width: 100%;
      }
      figcaption {
        white-space: no-wrap;
        .caption {
          display: block;
          font-family: Saol;
          color: #000;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.2em;
          letter-spacing: -.01em;
        }
        .date {
          display: block;
          font-family: Saol;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.2em;
          letter-spacing: -.01em;
          margin-top: calc(16.4px + .21176vw);
          color: rgba(35,35,35,.6);
          span {
            font-style: italic;
          }
        }
      }
    }
    .image-with-caption-wrapper.bottom-right figcaption {
      position: absolute;
      width: 100%;
      top: calc(100% + 15px);
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      text-align: right;
    }
    figure {
      position: relative;
    }
    .image-with-caption-wrapper picture {
      position: relative;
      display: block;
    }
    .statistics-list{
      li {
        position: relative;
      padding: 20px 0 10px 20px;
      font-family: Matter;
      font-size: calc(16.6px + .31765vw);
      font-weight: 400;
      color: #232323;
      line-height: 1.4em;
      &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        background-color: #000;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 1s cubic-bezier(.25,.46,.45,.94);
      }
      }
      li.enter-viewport {
        &:after {
          transform: scaleX(1);
        }
      }
    }
  }
  /*Static block*/ 
  .statistics-wrapper {
    position: relative;
    padding: calc(33.4px + 9.21176vw) 0;
    margin-top: calc(29.4px + 7.09412vw);
    .title {
      display: block;
      margin-bottom: calc(19.9px + 2.06471vw);
      font-family: Matter;
      font-weight: 400;
      font-size: calc(20.8px + 2.54118vw);
      color: #232323;
      line-height: 1.1em;
      letter-spacing: -.02em;
      p {
        margin: 0;
        text-indent: 0;
        font-family: Matter;
        font-weight: 400;
        font-size: calc(20.8px + 2.54118vw);
        font-weight: 300;
        color: #232323;
        line-height: 1.1em;
        letter-spacing: -.02em;
    }
    span {
      font-size: calc(20.8px + 2.54118vw);
      color: #232323;
      line-height: 1.1em;
      letter-spacing: -.02em;
  }
  }
  .statistics-cols{
      padding-left: 0;
      padding-right: 0;
    .upper-title {
      display: block;
      font-family: Saol;
      font-weight: 400;
      font-size: calc(17.2px + .63529vw);
      font-weight: 300;
      color: #232323;
      line-height: 1.2em;
      letter-spacing: -.03em;
      font-style: italic;
    }
    .title {
      display: block;
      font-family: Matter;
      font-weight: 400;
      font-size: calc(18.9px + 1.53529vw);
      font-weight: 300;
      color: #232323;
      line-height: 1.2em;
      letter-spacing: -.02em;
    }
  }
  }
  
  /*History block*/ 
  .the-history-wrapper {
    position: relative;
    .bg {
      position: relative;
      background-color: #da352b;
      padding-top: calc(24.4px + 4.44706vw);
      padding-bottom: calc(22.4px + 3.38824vw);
    }
    .upper-title {
      @include upperTitle(#232332);
      margin-bottom: calc(21.4px + 2.85882vw);
    }
    .main-title-col {
      position: relative;
      -webkit-perspective: 500px;
      perspective: 500px;
      .main-title {
        position: relative;
        margin-bottom: calc(39.4px + 12.38824vw);
        margin-top: 360px;
        display: block;
        padding-top: calc(20.4px + 2.32941vw);
        white-space: nowrap;
        font-family: Matter;
        font-weight: 300;
        color: #232323;
        line-height: 1.1em;
        letter-spacing: -.02em;
        font-size: 18vw;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 1px;
          background-color: #232323;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 1s cubic-bezier(.455,.03,.515,.955);
        }
        span {
          display: inline-block;
          color: #232323;
          line-height: 1.1em;
          letter-spacing: -.02em;
        }
        .line {
          display: inline-block;
          .inner {
            position: relative;
            display: inline-block;
          }
          :last-child {
            margin-top: -.5em;
          }
        }
      }
      .main-title.enter-viewport {
        &::before {
          transform: scaleX(1);
        }
      }
    }
    p {
      font-size: calc(16.3px + .15882vw);
      span {
        font-size: calc(16.2px + .10588vw);
      }
    }
    .subtitle {
      display: block;
      margin-bottom: calc(18.4px + 1.27059vw);
      text-indent: 0;
    }
    .column-text {
      p{
        margin-bottom:0;
      }
    }
    .image-container {
      margin-top: calc(-44.4px - 15.03529vw);
    }
    
  }
  .image-with-caption-wrapper {
    figure {
      position: relative;
    }
    picture {
      position: relative;
      display: block;
    }
    img {
      position: relative;
    }
    figcaption {
      white-space: nowrap;
      .caption {
        display: block;
        color: #000;
        text-transform: uppercase;
        font-family: Saol;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2em;
        letter-spacing: -.01em;
      }
      .date {
        display: block;
        font-family: Saol;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2em;
        letter-spacing: -.01em;
        margin-top: calc(16.4px + .21176vw);
        color: rgba(35,35,35,.6);
    }
    }
  }
  .image-with-caption-wrapper.left-bottom{
    figcaption {
      position: absolute;
      top: 0;
      right: calc(100% + 15px);
      height: 100%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      text-align: right;
  }
  }
  
  /*Investors block*/ 
  .investors-block-wrapper {
    position: relative;
    padding: calc(34.4px + 9.74118vw) 0;
    .main-title-wrapper {
      position: relative;
      z-index: 1;
    }
    .main-title {
      @include mainTitle(#232323);
      p {
        margin: 0;
        text-indent: 0;
        font-family: Matter;
        font-weight: 300;
        font-size: calc(19px + 1.58824vw);
        color: #232323;
        line-height: 1.4em;
        letter-spacing: -.01em;
      }
      span {
        font-size: calc(19px + 1.58824vw);
        color: #232323;
        line-height: 1.4em;
        letter-spacing: -.01em;
      }
    }
    .image-block {
      position: relative;
      margin-top: calc(-44.4px - 3.38824vw);
      margin-bottom: calc(18.4px + 1.27059vw);
      .image-container {
        position: relative;
        .video-container {
          position: absolute;
          top: 50%;
          max-width: 280px;
          width: 16vw;
          overflow: hidden;
          border: 3px solid #000;
          filter: drop-shadow(0 100px 80px rgba(0,0,0,.2));
          border-radius: calc(16.5px + .26471vw);
          .video-inner {
            position: relative;
            width: 100%;
          }
          video {
            max-width: 100%;
            height: auto;
            transform-origin: center;
            transform: scale(1.1);
          }
        }
      }
      .image-with-caption-wrapper {
        position: relative;
        padding-left: 3vw;
        figure {
          position: relative;
        }
        picture {
          position: relative;
          display: block;
        }
        img {
          position: relative;
        }
        figcaption {
          display: block;
          white-space: nowrap;
          .caption {
            display: block;
            font-family: Saol;
            font-weight: 400;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.2em;
            letter-spacing: -.01em;
          }
        }
      }
      .text-block {
        position: relative;
        margin-top: calc(29.4px + 7.09412vw);
      }
    }
    .two-cols-wrapper {
      position: relative;
      margin-top: calc(29.4px + 7.09412vw);
      column-count: 2;
      p {
        font-size: calc(16.3px + .15882vw);
      }
    }
  }
  .image-with-caption-wrapper.bottom-right {
    figcaption {
      position: absolute;
      width: 100%;
      top: calc(100% + 15px);
      color: #000;
      text-transform: uppercase;
      display: flex;
      align-items: flex-end;
      text-align: right;
  }
  }
  
  /*Team galerry*/
  .team-gallery-wrapper {
    position: relative;
    padding: calc(24.4px + 4.44706vw) 0 calc(38.4px + 11.85882vw);
    background-color: #1e1e1e;
    user-select: none;
    .upper-title {
      @include upperTitle(#ffff);
      margin-bottom: calc(21.4px + 2.85882vw);
    }
    .titles-wrapper {
      .title-container {
        position: relative;
        z-index: 1;
      }
    }
    .role {
      position: relative;
      display: block;
      width: 90%;
      margin-bottom: calc(16.4px + .21176vw);
      font-family: Matter;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      line-height: 2em;
      border-bottom: 1px solid #fff;
      overflow: hidden;
      .inner {
        display: block;
        position: relative;
      }
    }
    .name {
      display: block;
      position: relative;
      width: 145%;
      height: calc(36.4px + 10.8vw);
      margin-bottom: calc(16.4px + .21176vw);
      padding-right: calc(18.4px + 1.27059vw);
      padding-left: 10px;
      left: -10px;
      font-family: Matter;
      font-size: calc(24.4px + 4.44706vw);
      font-weight: 300;
      color: #fff;
      line-height: 1em;
      letter-spacing: -.03em;
      overflow: hidden;
      .inner {
        display: block;
        position: relative;
      }
      span {
        font-size: calc(24.4px + 4.44706vw);
        color: #fff;
        line-height: 1em;
        letter-spacing: -.03em;
      }
      p {
        margin: 0;
        text-indent: 0;
        font-family: Matter;
        font-weight: 400;
        font-size: calc(24.4px + 4.44706vw);
        font-weight: 300;
        color: #fff;
        line-height: 1em;
        letter-spacing: -.03em;
      }
    }
    .description {
      position: relative;
      display: block;
      width: 100%;
      height: calc(35.4px + 10.27059vw);
      margin-bottom: 15px;
      padding-right: calc(20.4px + 2.32941vw);
      font-family: Matter;
      font-size: calc(16.3px + .15882vw);
      font-weight: 400;
      color: #fff;
      line-height: 1.4em;
      overflow: hidden;
      .inner {
        display: block;
        position: relative;
        text-indent: 25px;
      }
      .gradient {
        position: absolute;
        bottom: -35px;
        left: -5%;
        width: 100%;
        height: 100px;
        background: linear-gradient(180deg,rgba(30,30,30,0),#1e1e1e 70%);
        opacity: 1;
        visibility: visible;
      }
    }
    .btn-expand-description {
      display: inline-flex;
      align-items: center;
      font-family: Matter;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      line-height: 1em;
      padding: 0;
      background: transparent;
      border: 0;
      outline: none;
      cursor: pointer;
      margin: 0 0 40px;
      opacity: 1;
      visibility: visible;
      svg {
        pointer-events: none;
        height: 42px;
        width: 42px;
        transform: rotate(90deg);
      }
    }
    .controllers-wrapper {
      button {
        position: relative;
        width: 56px;
        height: 56px;
        background: none;
        outline: none;
        border: none;
        padding: 0;
        cursor: pointer;
        .hitzone {
          position: absolute;
          top: -20%;
          left: -20%;
          width: 140%;
          height: 140%;
        }
        svg {
          width: 100%;
          height: 100%;
          pointer-events: none;
          overflow: visible;
          circle {
            transition: fill .75s cubic-bezier(.165,.84,.44,1);
            fill: transparent;
          }
          path {
            transition: fill .75s cubic-bezier(.165,.84,.44,1);
          }
        }
        &:hover {
          circle {
            fill: #ffff;
          }
          path {
            fill: #232323
          }
        }
      }
      button.left-btn {
        margin-left: 10px;
      }
    }
    .controllers-wrapper.mobile{
      display: none;
    }
    .photos-wrapper {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-items: center;
      white-space: nowrap;
      .container {
        position: relative;
        flex: 0 0 28vw;
        max-width: 28vw;
        margin-right: 40px;
        overflow: hidden;
        picture {
          position: relative;
          display: block;
          pointer-events: none;
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
      .container:nth-child(2) {
        flex: 0 0 22vw;
        max-width: 22vw;
        opacity: .3;
        &:hover {
          opacity: 1;
        }
      }
      .container:nth-child(3) {
        flex: 0 0 18vw;
        max-width: 18vw;
        opacity: .3;
    }
      .container.trigger-next {
        cursor: pointer;
        transition: opacity .5s cubic-bezier(.165,.84,.44,1);
      }
    }
  } 
  
  /* Contact galerry block */ 
  .contacts-gallery-wrapper {
    position: relative;
    padding: calc(24.4px + 4.44706vw) 0 calc(38.4px + 11.85882vw);
    .upper-title {
      @include upperTitle(#232323);
      margin-bottom: calc(21.4px + 2.85882vw);
    }
    .title-container {
      position: relative;
      z-index: 1;
      pointer-events: none;
      .main-title {
        @include mainTitle(#232323);
        span:not(.city) {
          font-family: Saol;
          font-weight: 400;
          font-size: calc(26.4px + 5.50588vw);
          font-weight: 500;
          color: #232323;
          line-height: 1em;
          letter-spacing: -.03em;
          font-style: italic;
        }
        .city {
          position: relative;
          overflow: hidden;
          .mask {
            position: absolute;
            top: 0;
            left: -10px;
            width: 100%;
            height: 100%;
            background-color: rgba(246,244,242,.7607843137254902);
            z-index: 1;
            transform: scaleY(0);
          }
          .label.active {
            position: relative;
            top: 0;
            opacity: 1;
            visibility: visible;
          }
        }
        p {
          position: relative;
          left: -6px;
          margin: 0;
          text-indent: 0;
          display: inline-block;
          font-size: calc(26.4px + 5.50588vw);
          font-weight: 300;
          line-height: 1em;
          letter-spacing: -.03em;
          span:first-of-type {
            position: relative;
            left: 6px;
          }
        }
      }
    }
    
    .slider-container {
      position: relative;
      margin-top: calc(-44.4px - 7.62353vw);
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      .selector-container {
        position: relative;
        margin-bottom: 20px;
        z-index: 1;
        ul {
          display: flex;
          flex-flow: wrap;
          align-items: flex-end;
          justify-content: flex-end;
          margin-left: -10px;
        }
        li {
          border: 1.5px solid #232323;
          backdrop-filter: blur(8px);
          border-radius: 53px;
          padding: 10px 21px 8px;
          margin-left: 10px;
          margin-bottom: 4px;
          cursor: pointer;
          font-family: Matter;
          font-size: 14px;
          font-weight: 500;
          color: #232323;
          line-height: 1.18em;
          letter-spacing: -.01em;
          transition: color .5s cubic-bezier(.165,.84,.44,1),background-color .5s cubic-bezier(.165,.84,.44,1);
          user-select: none;
          span {
            font-family: Saol;
            font-weight: 400;
            font-size: 14px;
            font-weight: 500;
            color: #232323;
            line-height: 1.18em;
            letter-spacing: -.01em;
            font-style: italic;
            pointer-events: none;
            transition: color .5s cubic-bezier(.165,.84,.44,1);
          }
        }
        li.active {
          pointer-events: none;
          background-color: #232323;
          color: #fff;
          span {
            color: #fff;
          }
        }
      }
      .controllers-wrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        max-width: 100vw;
        width: 934px;
        z-index: 10;
        pointer-events: none;
        button {
          position: relative;
          width: 56px;
          height: 56px;
          padding: 0;
          background: none;
          outline: none;
          border: none;
          cursor: pointer;
          pointer-events: visible;
          // box-shadow: 0 8px 10px rgb(0 0 0 3%);
          border-radius: 50px;
          transition: box-shadow .5s cubic-bezier(.165,.84,.44,1),opacity .5s cubic-bezier(.165,.84,.44,1);
          .hitzone {
            position: absolute;
            top: -20%;
            left: -20%;
            width: 140%;
            height: 140%;
          }
          svg {
            overflow: visible;
            pointer-events: none;
            width: 100%;
            circle {
              fill: #fff;
              transform-origin: center;
              transition: transform 1s cubic-bezier(.165,.84,.44,1),fill 1s cubic-bezier(.165,.84,.44,1),stroke 1s cubic-bezier(.165,.84,.44,1);
            }
            path {
              fill: #232323;
              -webkit-transition: fill 1s cubic-bezier(.165,.84,.44,1);
              -o-transition: fill 1s cubic-bezier(.165,.84,.44,1);
              transition: fill 1s cubic-bezier(.165,.84,.44,1);
            }        
          }
        }
        button.inactive {
          svg {
            circle{
          fill: #fafafa;
          stroke: #fafafa;
            }
            path {
              fill: #ababab;
            }
          }
        }
      }
      .map-container {
        position: absolute;
        height: 100%;
        width: 810px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        pointer-events: none;
        z-index: 100;
        .map-item-container {
          position: relative;
          width: 25%;
          bottom: 2%;
          right: 0;
          text-align: right;
          pointer-events: visible;
          overflow: hidden;
          .mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #c9c9c9;
            z-index: 1;
            transform: scaleY(0);
          }
        }
        .map-item {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          visibility: hidden;
          a {
            display: block;
            text-decoration: none;
          }
          picture {
            position: relative;
            display: block;
            overflow: hidden;
          }
          .contacts-gallery-wrapper .slider-container .map-container .map-item-container .map-item img {
            width: 100%;
            transform-origin: center;
            transition: transform 2s cubic-bezier(.165,.84,.44,1);
          }
        }
        .map-item.active {
          position: relative;
          opacity: 1;
          visibility: visible;
        }
        .caption {
          display: block;
          margin-top: 15px;
          font-family: Saol;
          font-size: 14px;
          font-weight: 500;
          color: #000;
          line-height: 1.2em;
          letter-spacing: -.01em;
          text-transform: uppercase;
        }
      }
      .slider-inner {
        position: relative;
        width: 100vw;
        height: 80vh;
        min-height: 650px;
        perspective: 500;
        .slider-location {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          width: 100%;
          height: 100%;
          opacity: 0;
          visibility: hidden;
        }
        .slider-location.active {
          position: relative;
          opacity: 1;
          visibility: visible;
          margin-left: 328px;
        }
        .slide {
          width: 52%;
          margin-left: 0;
          position: relative;
          margin-left: 0;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          overflow: hidden;
          .block-bg-cover {
            position: relative;
          }
          picture {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .slide-image {
            width: 100%;
            margin: 0 auto;
            -webkit-transform-origin: center;
            transform-origin: center;
          }
        }
        .slide:first-of-type {
          margin-left: 0;
          padding-left: 0;
          .slide-image {
            margin: 0 0 0 auto;
            transform: scale(1);
          }
        }
        .mask {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #f1efeb;
          z-index: 1;
          transform: scaleY(0);
        }
        .slide.portrait {
          width: 52%;
          .block-bg-cover {
            width: auto;
          }
          .slide-image {
            margin: 0 0 0 auto;
            transform: scale(0.6,0.6);
            margin-left: -80px;
          }
        }
      }
    }
    .contacts-container {
      .social{
        li {
          .item {
            position: relative;
            display: block;
            width: 100%;
            font-family: Saol;
            font-size: calc(24.4px + 4.44706vw);
            font-weight: 600;
            color: #232323;
            line-height: 1em;
            letter-spacing: 0.02em;
            text-decoration: none;
            font-style: italic;
            text-align: left;
            -webkit-transition: letter-spacing .5s cubic-bezier(.165,.84,.44,1);
            -o-transition: letter-spacing .5s cubic-bezier(.165,.84,.44,1);
            transition: letter-spacing .5s cubic-bezier(.165,.84,.44,1);
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            div {
              pointer-events: none;
            }
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              display: block;
              width: 100%;
              height: 1px;
              background-color: #232323;
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
              -webkit-transform-origin: left;
              transform-origin: left;
              -webkit-transition: -webkit-transform 1s cubic-bezier(.165,.84,.44,1);
              transition: -webkit-transform 1s cubic-bezier(.165,.84,.44,1);
              -o-transition: transform 1s cubic-bezier(.165,.84,.44,1);
              transition: transform 1s cubic-bezier(.165,.84,.44,1);
              transition: transform 1s cubic-bezier(.165,.84,.44,1),-webkit-transform 1s cubic-bezier(.165,.84,.44,1);
            }
          }
          .item:first-of-type {
            margin-bottom: .2em;
          }
        }
      }
      .contacts {
        margin-bottom: 10px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        li {
          a {
            position: relative;
            font-family: Saol;
            font-weight: 400;
            font-size: calc(17.4px + .74118vw);
            font-weight: 500;
            color: #232323;
            line-height: 1.2em;
            letter-spacing: -.01em;
            text-decoration: none;
            font-style: italic;
            -webkit-transition: letter-spacing .5s cubic-bezier(.165,.84,.44,1);
            -o-transition: letter-spacing .5s cubic-bezier(.165,.84,.44,1);
            transition: letter-spacing .5s cubic-bezier(.165,.84,.44,1);
          }
        }
      }
    }
  }
  .contacts-container {
    margin-top: calc(-44.4px - 2.32941vw);
  }
  