@font-face {
  font-family: Matter;
  src: url("../font/Matter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Matter;
  src: url("../font/Matter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Matter;
  src: url("../font/Matter-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Saol;
  src: url("../font/SaolDisplay-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: Saol;
  src: url("..font/SaolDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Saol;
  src: url("../font/SaolDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Saol;
  src: url("../font/SaolDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Saol;
  src: url("../font/SaolDisplay-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@keyframes autorotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes infinityText {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(110%, 0, 0);
  }
}
@keyframes infinityText2 {
  0% {
    transform: translate3d(-210%, 0, 0);
  }
  100% {
    transform: translate3d(0%, 0, 0);
  }
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --matter-font: "Matter";
  --saol-font: "Saol";
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #232323;
}
::-webkit-scrollbar-thumb {
  background: #030303;
}

img {
  font-family: var(--matter-font);
  display: block;
  max-width: 100%;
  height: auto;
  user-select: none;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
p {
  margin-bottom: 1em;
  font-family: Matter;
  font-weight: 400;
  font-size: calc(17.2px + 0.63529vw);
  font-weight: "normal";
  color: #232323;
  line-height: 1.4em;
  letter-spacing: -0.02em;
  text-indent: 25px;
}
ul {
  list-style-type: none;
}
ol {
  list-style-type: none;
}
section {
  display: block;
}

.row {
  max-width: 98.75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(16.4px + .21176vw);
  padding-right: calc(16.4px + .21176vw);
  display: flex;
  flex-flow: row wrap;
}
.row.expanded {
  max-width: none;
}

.row.no-pd{
  padding-left:0;
  padding-right:0;
}
.col-no-pd{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.italic {
  font-style: italic;
}
.serif-light {
  font-family: Saol;
  font-weight: 300;
  span {
    font-family: Saol;
    font-weight: 300;
  }
}
.serif-normal{
  font-family: Saol;
  font-weight: 400;
}

.serif-medium {
  font-family: Saol;
  font-weight: 600;
  span {
    font-family: Saol;
    font-weight: 500;
  }
}

// Mixin scss 
@mixin mainTitle ($color) {
  font-family: Matter;
  font-weight: 400;
  font-size: calc(26.4px + 5.50588vw);
  font-weight: 300;
  color: $color;
  line-height: 1em;
  letter-spacing: -.03em;
}

@mixin upperTitle ($color) {
  position: relative;
  left: 10px;
  display: block;
  font-family: Saol;
  font-size: 10px;
  font-weight: 600;
  color: $color;
  line-height: 1.1em;
  letter-spacing: 2.3em;
  text-transform: uppercase;
  opacity: 1;
}
@mixin pageHeader {
    position: relative;
    display: block;
    width: 100%;
    height: 150vh;
    min-height: 800px;
}

// <====== ************* HOME PAGE ************* ======>

@import '../css/scss/home-page';

/*<====== ************* ABOUT PAGE ************* ======>*/ 
@import '../css/scss/about-page';

/* <====== ************* PROJECT PAGE ************* ======> */ 
@import '../css/scss/project-page';

/* <====== *********** EXPERTISE PAGE ************ ======> */ 
@import '../css/scss/experst-page';

/* <====== *********** INSIGHTS PAGE ************ ======> */ 
@import '../css/scss/insights';
 